<!DOCTYPE html>
<html>
<head>
    <title></title>
    
</head>
<body>
    <h1>Login here</h1>
    <div class="login-page">
    <div class="form">

        <table class="Login-form">
        <input type="text" id="usernameidlogin" placeholder="Username"/>
        <br><br><input type="password" id="passwordidlogin" placeholder="Password"/>
            
        </table>
        <br><button id="submituser" onclick= "loginValidation()">Login</button>
        <br><br><a href="create.html">New here? Create a User!</a>

        </div>
    </div>
    
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="../Controller/login.js"></script>
</html>