<!DOCTYPE html>
<html lang="en">
<head>

    <h1>
        Welcome to this amazing dating app
    </h1>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>  

    <table>
        <button id="submituser" onclick= "deleteProfile()">Delete your profile</button>
        <br><br><button id="logoutuser" onclick= "logOut()">Log Out</button>
        <br><br><button onclick= "seeOwnProfile()">Show your profile</button>
        <br><br><button onclick="location.href = 'update.html';">Update profile</button>
        <br><br><br><br><br><br><button onclick= "like()">Like</button>
        <br><br><button onclick= "showNextProfile()">Display next profile (find love!)</button>
        <br><br><button onclick= "seeFullProfile()"> See full profile</button>
        <br><br><button onclick= "displayMyMatches()">Display my matches</button>

    </table>
    
    <p id="nomoreusers"></p>
    <p id="overview"></p>
    <p id="displayUsername"></p>
    <p id="displayInterest"></p>
    <p id="displayFirstname"></p>
    <p id="displayLastname"></p>
    <p id="displayAge"></p>
    <p id="displayGender"></p>
    <p id="like"></p>
   
    <table id="myTableData"  border="1" cellpadding="2">
        <tr>
            <td>&nbsp;</td>
            <td><b>Name</b></td>
            <td><b>Interest</b></td>
        </tr>
    </table>
    &nbsp;
     
    </div>
    
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="../Controller/profile.js"></script>
    
</html>